/* src/styles/primereact-styles.css /
/ Este archivo importa el TEMA, replicando 'sistema-de-gestion' */
@import 'primereact/resources/themes/aura-light-blue/theme.css';

/* Puedes añadir tus overrides de PrimeReact aquí */
